aside{
  background-color: azure;
  grid-area: a;
  padding: 10px;
}
.item a{
  color: darkslategray;
  text-decoration-line: none;
}
.item a.active{
  color: coral;
}

.friend{
  padding-top: 10px;
  display: flex;
}

.navbar{
  margin-bottom: 50px;
}