.app-wrapper {
  width:100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "a m";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  grid-gap: 10px;
}

.app-wrapper-content{
  background-color: darkgray;
  grid-area: m;
}



